body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222222;
  margin: 0px;
  justify-items: center;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  padding-bottom: 10px;
  margin: 0 auto;
  max-width: 960px;
}
.container-fundo {
  background: #122ab2;
}

.container p,
a {
  color: white;
  text-decoration: none;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

.header-principal {
  display: flex;
  background: #2c70ff;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  flex-wrap: wrap;
  align-items: center;
}

h5 {
  background-color: #2c70ff;
  display: flex;
  justify-content: center;
  padding: 50px;
}

/* .footer-email h4,
p {
  display: flex;
  background-color: rgb(235, 235, 235);
  justify-content: center;
} */

.footer-fundo {
  background-color: #f7f7f7;
  display: flex;
  padding: 60px;
  flex-wrap: wrap;
}

.texto-grande {
  font-size: 3em;
  color: #a4a4a4;
}
