body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  /* display: flex; */
  color: #222222;
  margin: 0px;
  justify-items: center;
  /* margin-top: 60px;  */
  /* gap: 30px; */
  /* font-size: 64px; */
}
.container {
  display: flex;
  justify-content: space-between;
  background: #2c70ff;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

.header-principal {
  background: #122ab2;
}
.header-principal p {
  background: #2c70ff;
}
h5 {
  background-color: #122ab2;
  display: flex;
  justify-content: center;
  padding: 50px;
}
