body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  /* display: flex; */
  color: #222222;
  margin: 0px;
  justify-items: center;
  /* margin-top: 60px;  */
  /* gap: 30px;  */
  /* font-size: 64px; */
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

.header-principal {
  background: #122ab2;
}
.header-principal p {
  background: #2c70ff;
}
