body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222222;
  /* margin: 0px; */
  justify-items: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 10px; */
  padding-top: 10px;
  margin: 0 auto;
  max-width: 960px;
}
.container-fundo {
  background: #122ab2;
}

.container a {
  color: white;
  text-decoration: none;
  margin: 0 10px 10px 10px; /*não tirar*/
}
.container p {
  color: white;
  text-decoration: none;
  margin: 0 10px 10px 10px; /*não tirar*/
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header-principal {
  background: #2c70ff;
  justify-content: space-between;
  /* max-width: 960px; */
  /* margin: 0 auto; */
  padding: 4px 0;
  flex-wrap: wrap;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
  padding: 15px 0;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  max-width: 960px;
}

.nav-menu li {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 10px;
  /* padding: 10px; */
}
.nav-menu a:hover {
  background-color: #122ab2;
  border-radius: 6px;
  transition: 0.7s;
}

.nav-menu a {
  display: flex;
  font-size: 1.25em;
  padding: 10px;
  margin: 0px;
  text-decoration: none;
  color: white;
}
.marca-grande a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.introducao-titulo {
  /* background-color: #f9265e; */
  font-size: 3em;
  /* font-size: 50px; */
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px 55px 0px;
}

h5 {
  background-color: #2c70ff;
  display: flex;
  justify-content: center;
  padding: 50px;
}

/* .footer-email h4,
p {
  display: flex;
  background-color: rgb(235, 235, 235);
  justify-content: center;
} */

.Produtos-fotos {
  /* display: flex; */
  max-width: 960px;
  margin: 60px auto;
}

.Produtos-fotos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
  /* background-color: #2c70ff; */
}

/*ESPAÇAMENTO DO CANTO ESQUERDO DO LAYOUT*/
.principal {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 0 480px;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 10px; */
  padding-top: 10px;
  margin: 0 auto;
  max-width: 960px;
}

.main-sobre {
  display: flex;
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px;
}
.sobre-info h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

/* .main-sobre img {
  flex: 1 1 160px;
  margin: 0 10px;
} */
.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/*POSICIONAR AS IMAGENS DO PRODUTOS*/
.container-fotos {
  /* background-color: rgb(190, 43, 90); */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  /* justify-content: space-around; */
  /* padding: auto; */
}

.Produtos-fotos h2 {
  font-size: 3em;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  flex: 1 1 175px;
  margin: 10px;
  border-top: 8px solid #ae81ff;
}
.pink {
  flex: 1 1 175px;
  margin: 10px;
  border-top: 8px solid #f9265e;
}

.blue {
  flex: 1 1 175px;
  margin: 10px;
  border-top: 8px solid #66d9eb;
}

/*PARTE DO PREÇO DO LAYOUT*/
.preco {
  display: flex;
  flex-wrap: wrap;
  padding: 60px; /*certo é 60*/
  /* justify-content: space-around; */
  background-color: #f7f7f7;
  align-items: flex-end; /*não funcionou*/
  /* width: 100%; */
  /* height: 40px; */
}

.preco-itens {
  /* display: inline-block; */
  flex: 1 1 260px;
  /* flex: 1; para ele crescer de ponta a ponta do layout*/
  border: 4px solid white;
  /* background-color: #66d9eb; */
  padding: 20px;
  margin: 10px;
  /* align-self: flex-end; */
}

.preco-link {
}

/* .preco li {
  display: flex;
  justify-content: center;
} */

.preco-itens a {
  max-width: 300px;
  display: block;
  margin: 20px auto; /*cima/baixo 20px e lados auto*/
  border: 4px solid;
  color: #222222;
  font-weight: bold;
  font-size: 2.25em;
  padding: 15px 0; /*baixo/cima 15px  lados 0px*/
  /* color: black; */
  text-align: center;
  border-radius: 10px;
}
.preco-itens a:hover {
  border-color: #2c70ff;
  transition: 0.7s;
}
.preco-itens h2 {
  font-size: 3em;
  /* display: flex; */
  /* justify-content: center; */
  /* border-bottom: 3px solid white; */
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
  /* padding-bottom: 20px; */
  /* height: 20px; */
}
/*por padrão um <span> é display: inline e n aceita atributos por isso mudei p block*/
.preco-itens span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  text-align: center;
  font-weight: bold; /*apenas nos H  que já vem como bold*/
  padding: 10px 0 5px 0;
  /* justify-content: center; */
  font-size: 3em;
  /* font-weight: bold; */
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  /* padding-bottom: 20px; */
  /* height: 20px; */
}
.preco-itens sup {
  font-size: 1.5rem; /*rem = relativo a raiz = 16px*/
}

.preco-itens ul {
  max-width: 300px; /*tamanho max dele igual ao do span*/
  margin: 20px auto; /*cima/baixo 20px   lados = auto*/
  font-size: 1.25em;
  font-style: italic; /*mesma font do projeto*/
  color: #7c7c7c;
}

/*p transformar tudo nas li em flex-itens e mover as bolinhas*/
.preco-itens li {
  display: flex;
  justify-content: space-between; /*p alinhar as bolinhas na ponta*/
  align-items: center; /*alinhas as bolinhas e o texto ao centro*/
  margin-bottom: 15px; /*cria uma margem no final de cada linha p criar um distancia uma da outra*/
}

/*CRIANDO AS BOLINHAS AZUL*/
.preco-itens li::after {
  content: ""; /*pseudo elemento aqui*/
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%; /* % para se adequar ao tamanho do layout*/
}

/*RESPONSIVO*/
@media (max-width: 800px) {
  .preco {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preco .preco-itens:nth-child(3) {
    order: -2; /*colocar o OURO como o item 1 na fila*/
  }
  .preco .preco-itens:nth-child(2) {
    order: -1;
  }
}

/*QUALIDADE*/

.qualidade {
  max-width: 960px;
  display: flex;
  margin: 60px auto;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
}
.qualidade-itens {
  flex: 1 1 300px;
  margin: 20px 10px;
  /* align-content: center; */
  /* align-items: center; */
  /* padding: 80px; */
  /* width: 220px; */
  /* height: 10px; */
}
.qualidade-itens h2 {
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
  /* gap: 80px; */
  /* margin: 10px; */
  /* background-color: #122ab2; */
}
.qualidade-itens p {
  font-size: 1.25em;
  line-height: 1.5;
  color: #7c7c7c;
}

/* .qualidade h2 {
  border-left: 6px solid;
} */

/* criando a barrinha colorida na lateral do nome */
.border-purple {
  /* content: ""; */
  display: inline-block;
  border-left: 8px solid;
  border-color: #ae81ff;
  padding: 0px 0px 0px 10px;
  height: 17%;
  /* width: 50px; */
  /* margin-left: 40px; */
}
.border-red {
  display: inline-block;
  border-left: 8px solid;
  border-color: #f9265e;
  padding: 0px 0px 0px 10px;
  height: 17%;
}
.border-blue {
  display: inline-block;
  border-left: 8px solid;
  border-color: #66d9eb;
  padding: 0px 0px 0px 10px;
  height: 17%;
}

/*Newsletter e EMAIL*/
.footer-fundo {
  background-color: #f7f7f7;
  display: flex;
  padding: 60px calc((100% - 960px) / 2); /*100% total do layout -960px é o total do meu, com isso n precisamos de div dentro de div*/
  flex-wrap: wrap;
}

.footer-email {
  flex: 1 1 240px; /*240 é o minimo que ele vai pegar*/
  margin: 0 10px;
}

.texto-grande {
  font-size: 3em;
  color: #a4a4a4;
}
.footer-email p {
  font-size: 1.25em;
  font-style: italic;
  max-width: 230px; /*230px p o texto quebrar*/
  color: #7c7c7c;
  margin-bottom: 10px; /*p quando a caixa de email quebrar p baixo dele, manter um margin_bottom de 10px*/
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
}
.newsletter-form input {
  flex: 3 1 260px;
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  border: 4px solid #2c70ff;
  background: transparent;
  padding: 15px 10px;
  margin: 0px;
  border-radius: 0px;
}
.newsletter-form button {
  flex: 1 1 200px;
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
  background: #2c70ff;
  color: white;
  margin: 0px;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
}
