body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222222;
  /* margin: 0px; */
  justify-items: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 10px; */
  padding-top: 10px;
  margin: 0 auto;
  max-width: 960px;
}
.container-fundo {
  background: #122ab2;
}

.container p,
a {
  color: white;
  text-decoration: none;
  margin: 0 10px 10px 10px; /*não tirar*/
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.header-principal {
  background: #2c70ff;
  justify-content: space-between;
  /* max-width: 960px; */
  /* margin: 0 auto; */
  padding: 4px 0;
  flex-wrap: wrap;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
  padding: 15px 0;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  max-width: 960px;
}

.nav-menu li {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 10px;
  /* padding: 10px; */
}
.nav-menu a:hover {
  background-color: #122ab2;
  border-radius: 6px;
  transition: 0.7s;
}
.nav-menu a {
  display: flex;
  font-size: 1.25em;
  padding: 10px;
  margin: 0px;
}
.marca-grande a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.introducao-titulo {
  /* background-color: #f9265e; */
  font-size: 3em;
  /* font-size: 50px; */
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px 55px 0px;
}

h5 {
  background-color: #2c70ff;
  display: flex;
  justify-content: center;
  padding: 50px;
}

/* .footer-email h4,
p {
  display: flex;
  background-color: rgb(235, 235, 235);
  justify-content: center;
} */

.footer-fundo {
  background-color: #f7f7f7;
  display: flex;
  padding: 60px;
  flex-wrap: wrap;
}

.Produtos-fotos {
  /* display: flex; */
  max-width: 960px;
  margin: 60px auto;
}

.texto-grande {
  font-size: 3em;
  color: #a4a4a4;
}
.Produtos-fotos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
  /* background-color: #2c70ff; */
}

/*ESPAÇAMENTO DO CANTO ESQUERDO DO LAYOUT*/
.principal {
  display: flex;
  margin: 0 135px;
}

.main-sobre {
  display: flex;
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px;
}
.sobre-info h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

/* .main-sobre img {
  flex: 1 1 160px;
  margin: 0 10px;
} */
.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/*POSICIONAR AS IMAGENS DO PRODUTOS*/
.container-fotos {
  /* background-color: rgb(190, 43, 90); */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  /* justify-content: space-around; */
  /* padding: auto; */
}

.Produtos-fotos h2 {
  font-size: 3em;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  flex: 1 1 175px;
  margin: 10px;
  border-top: 8px solid #ae81ff;
}
.pink {
  flex: 1 1 175px;
  margin: 10px;
  border-top: 8px solid #f9265e;
}

.blue {
  flex: 1 1 175px;
  margin: 10px;
  border-top: 8px solid #66d9eb;
}
.preco {
  display: flex;
  justify-content: center;
  background-color: #f5efef;
}

.preco li {
  display: flex;
  justify-content: center;
}
.preco a {
  border: 2px solid #222222;
  padding: 5px;
  color: black;
  text-align: center;
}
